@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display";
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    
}

#card-principal {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid black;
    border-radius: 50px;
    z-index: 2;
}

#card-principal .top-image{

    width: 100%;
    border-radius: 50px 50px 0 0;
}

#card-principal div h1{
    margin-top: 50px;
}

#card-principal div p {
    padding: 0 15% 0 15%;
    text-align: center;
}

#plan {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}



footer {
    text-align: center;
    padding-bottom: 10px;
}